DEEPL_API_KEY=
# IMPORTANT: Change iso from en to your language, default is en
DEEPL_ISO_LANG_SRC=
# IMPORTANT: List of languages to translate to separated by comma, e.g. "de,fr,es"
DEEPL_ISO_LANG_DEST=